body {
  margin: 0;
  padding: 0;
}

#main {
  display: block;
  margin: auto;
  align-items: center;
  height: 300px;
  width: 500px;
}
div#button:hover {
  background-color: #45a049; 
}
div#button btn{
 margin-left:80px;
 align-items: center;
 background-color:orangered;
 display: inline-block;
 color:white;
 font-size:21px;
 font-weight:600;
 border-radius:3px ;
 padding: 10px 20px;
 
}
#button button {
  background-color: orangered;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

#button button:hover {
  background-color: #ff704d;
}


h2 {
  text-align: center;
  margin: auto;
  align-items: center;
}

.main-container {
  display: flex;
  align-items: flex-start;
  margin: 30px;
  width: 90%;
 
}

ul#list-item {
  list-style: none;
  padding:0px;
  width:400px;
  
}
ul#list-item li.selected {
  background-color: #cceeff; 
}
ul#list-item li {
  font-size:medium;
  margin: 30px;
  width:100%;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#image-container {
align-items: center;
 padding-top:0;
 max-width: 100%;
 margin-left:140px;

 
}

img {
  max-width: 100%;
  max-height: 50%;
 
  
}

ul#films {
  padding: 0;
  margin: 0;
   width: 200px;
}

ul#films li {
  margin: 10px;
  float:left ;
  list-style: none;
}
